@{
    ViewBag.Title = "Meme University | Home";
}

<div class="jumbotron">
    <h1>Meme Univeristy</h1>
    <p class="lead">Meme University is an excuse by which I can do something "worthful" with my life instead of being a general piece of shit like always :D</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">meh &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why am I using Microsoft?</h2>
        <p>
            Sadly, they own the market and you are asked to have a certain skill degree in at least 3 Microsoft technologies on almost every job you apply for.
            Their monopoly is discusting, AND BILL GATES IS A BASTARD, HE SENDS JUNK TO KENIA!!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">meh x2 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why web?</h2>
        <p>Web is cool tho, but is unsecure as hell, and its bugs evolve at their own pace</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">meh x3 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why me?</h2>
        <p>Well, it's not like I had a choice initially...<p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">meh x4 &raquo;</a></p>
    </div>
</div>